.cards{
  background-color: antiquewhite;
  max-width :200px;
  border :1px solid yellow;
  border-radius: 5px;
  font-family: sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  height:auto;
}


.cards img {
  width: 200px;

}
